
<div class="row">
  <div class="col-md-12 mainHeader">
    <h1>Welcome on other page !</h1>
  </div>

  <div class="col-md-12 mainHeader">
    <button (click)="onClickMe()">Click me!</button>

    <span>{{clickMsg}}</span>
  </div>
  <div class="col-md-5">
    <h2>Person form</h2>
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>


        <input type="text" class="form-control" formControlName="name" id="name" required>

      </div>

      <div class="form-group">
        <label for="name">Surname</label>


        <input type="text" class="form-control" formControlName="surname" id="surname" required>

      </div>

      <!--<p *ngIf="submitted as true">-->
        <!--Formularz zostal wyslany-->

      <!--</p>-->

      <div class="form-group">
        <label>Gender</label><br>
      </div>


      <div class="radio">
        <label><input type="radio" name="radio" value="Men" formControlName="gender" required>Men</label>
        <label><input type="radio" name="radio" value="Women" formControlName="gender">Woman</label>
      </div>


      <button type="submit" class="btn btn-default" [disabled]="!personForm.valid">Add new person</button>

      <p id="fillFields">
        {{ requiredFieldsMsg}}
      </p>



    </form>

    <!--<p>Model: {{diagnostic}}</p>-->


  </div>
  
  <div class="col-md-8">
    <ul class="people list-group">
      <li *ngFor="let person of people" class="list-group-item ">
        <p class="badge">{{person.id }} {{person.name}}  {{person.surname}} {{person.gender}}</p>
      </li>

    </ul>

  </div>
</div>


