.mainHeader {
  text-align: center;
}

.col-md-5 {
  margin-top: 30px;
}

.formArea {
  margin-left: 30px;
}

#menGenderLabel {
  margin-right: 30px;
}

.errorMessage {
  margin-top: 10px;
}

.peopleListArea {
  margin-top: 30px;
  height: 60vh;
  overflow-y: scroll;
}

.badge {
  text-transform:capitalize;
}
