
<div class="row">
  <div class="col-md-12 mainHeader">
    <h1>Welcome on other page !</h1>
  </div>

  <div class="col-md-12 mainHeader">
    <button (click)="onClickMe()">Click me!</button>

    <span>{{clickMsg}}</span>
  </div>
  <div class="col-md-5">
    <h2>Person form</h2>
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>


        <input type="text" formControlName="name" id="name" required>

      </div>

      <div class="form-group">
        <label for="name">Surname</label>


        <input type="text" formControlName="surname" id="surname">

      </div>

      <p>
        Form Status: {{ personForm.status }}
      </p>

      <div class="form-group">
        <label>Gender</label><br>
      </div>


          <!--<input type="radio" [(ng-model)]="person.gender" ng-value="genders">-->
          <!--<span>Men</span>-->

          <!--<input type="radio" [(ng-model)]="person.gender" ng-value="specialValue">-->
          <!--<span>Women</span>-->
      <button type="submit" class="btn btn-default" [disabled]="!personForm.valid">New Person</button>

      <!--<div formArrayName="aliases">-->
        <!--<h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>-->

        <!--<div *ngFor="let address of aliases.controls; let i=index">-->
          <!--&lt;!&ndash; The repeated alias template &ndash;&gt;-->
          <!--<label>-->
            <!--Alias:-->
            <!--<input type="text" [formControlName]="i">-->
          <!--</label>-->
        <!--</div>-->
      <!--</div>-->

    </form>

    <p>Model: {{diagnostic}}</p>


  </div>


  <!--<input type="text" class="form-control" [ngModel]="test">-->


  <div class="col-md-8">
    <ul class="people list-group">
      <li *ngFor="let person of people" class="list-group-item ">
        <p class="badge">{{person.id }} {{person.name}}  {{person.surname}}</p>
      </li>

    </ul>

  </div>
</div>


