
<div class="row">
  <div class="col-md-12 mainHeader">
    <h1>Welcome on other page !</h1>
  </div>


  <div class="col-md-5 formArea">
    <mat-card>
      <mat-card-title>
        Person form
      </mat-card-title>
    <form [formGroup]="personForm" (submit)="onSubmit()">
      <div class="form-group">
        <mat-card-subtitle for="name">Name</mat-card-subtitle>

        <input matInput type="text" class="form-control" formControlName="name" id="name" required>
        <mat-error  *ngFor="let validation of person_validation_messages.name">
            <p class="errorMessage" *ngIf="personForm.get('name').hasError(validation.type) && (personForm.get('name').dirty
            || personForm.get('name').touched)">{{validation.message}}</p>

        </mat-error>

      </div>

      <div class="form-group">
        <mat-card-subtitle for="name">Surname</mat-card-subtitle>

        <input type="text" class="form-control" formControlName="surname" id="surname" required>
        <mat-error  *ngFor="let validation of person_validation_messages.surname">
          <p class="errorMessage" *ngIf="personForm.get('surname').hasError(validation.type) && (personForm.get('surname').dirty
            || personForm.get('surname').touched)">{{validation.message}}</p>

        </mat-error>

      </div>


      <div class="form-group">
        <mat-card-subtitle for="name">Gender</mat-card-subtitle>
      </div>


      <div>
        <label id="menGenderLabel"><input type="radio" [value]="genders.men" formControlName="gender"  required/>{{genders.men}}</label>
        <label><input type="radio"  [value]="genders.woman" formControlName="gender" required/>{{genders.woman}}</label>
      </div>

      <mat-error *ngFor="let validation of person_validation_messages.gender">
        <p class="errorMessage" *ngIf="personForm.get('gender').hasError(validation.type)">{{validation.message}}</p>

      </mat-error>

      <br>

      <button type="submit" class="btn btn-default" [disabled]="!personForm.valid">Add new person</button>


      <p id="fillFields">
        {{ requiredFieldsMsg}}
      </p>

    </form>

    </mat-card>
  </div>


  <div class="col-md-6 peopleListArea">
    <ul class="people list-group">
      <li *ngFor="let person of people" class="list-group-item ">
        <p class="badge">{{person.id }} {{person.name}}  {{person.surname}} {{person.gender}}</p>
      </li>

    </ul>

  </div>


</div>



